<div
  class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50"
>
  <div class="bg-white rounded-lg shadow-lg w-full max-w-md p-6">
    <div class="flex justify-between items-center border-b pb-2">
      <h2 class="text-xl font-semibold text-gray-900">Update Student</h2>
      <button
        class="text-gray-500 hover:text-gray-700 text-2xl"
        (click)="closeModal.emit()"
      >
        ×
      </button>
    </div>
    <form class="space-y-4 mt-4" (ngSubmit)="submit()">
      <div class="flex flex-col gap-4">
        <div>
          <label for="name" class="block text-sm font-medium text-gray-900"
            >Student Name</label
          >
          <input
            type="text"
            id="name"
            [(ngModel)]="student.name"
            name="name"
            class="w-full p-2.5 border border-gray-300 rounded-lg focus:ring-primary-600 focus:border-primary-600"
            required
          />
        </div>

        <div>
          <label for="email" class="block text-sm font-medium text-gray-900"
            >Student Email</label
          >
          <input
            type="email"
            id="email"
            [(ngModel)]="student.email"
            name="email"
            class="w-full p-2.5 border border-gray-300 rounded-lg focus:ring-primary-600 focus:border-primary-600"
            required
          />
        </div>

        <div>
          <label for="dob" class="block text-sm font-medium text-gray-900"
            >Student Date Of Birth</label
          >
          <input
            type="date"
            id="dob"
            [(ngModel)]="student.dob"
            name="dob"
            class="w-full p-2.5 border border-gray-300 rounded-lg focus:ring-primary-600 focus:border-primary-600"
            required
          />
        </div>

        <div>
          <label for="branch" class="block text-sm font-medium text-gray-900"
            >Student Branch</label
          >
          <select
            id="branch"
            [(ngModel)]="student.branch"
            name="branch"
            class="w-full p-2.5 border border-gray-300 rounded-lg focus:ring-primary-600 focus:border-primary-600"
            required
          >
            <option value="">Select Branch</option>
            <option value="Computer Science And Engineering">CSE</option>
            <option value="Civil Engineering">CE</option>
            <option value="Mechanical Engineering">ME</option>
            <option value="Electronics & Communication Engineering">ECE</option>
            <option value="Automobile Engineering">AE</option>
            <option value="Artificial Intelligence">AI</option>
          </select>
        </div>

        <div>
          <label for="semester" class="block text-sm font-medium text-gray-900"
            >Student Semester</label
          >
          <select
            id="semester"
            [(ngModel)]="student.semester"
            name="semester"
            class="w-full p-2.5 border border-gray-300 rounded-lg focus:ring-primary-600 focus:border-primary-600"
            required
          >
            <option value="">Select Semester</option>
            <option value="1">1st</option>
            <option value="2">2nd</option>
            <option value="3">3rd</option>
            <option value="4">4th</option>
            <option value="5">5th</option>
            <option value="6">6th</option>
            <option value="7">7th</option>
            <option value="8">8th</option>
          </select>
        </div>

        <div>
          <label class="block text-sm font-medium text-gray-900"
            >Choose Student Picture:</label
          >
          <input
            type="file"
            id="file_input"
            name="image"
            (change)="handleImageChange($event)"
            class="w-full border border-gray-300 rounded-lg p-2.5"
          />
        </div>
      </div>

      <div class="mt-4 flex justify-between gap-10">
        <button
          type="button"
          class="px-6 py-2 text-gray-700 bg-gray-200 rounded-lg hover:bg-gray-300"
          (click)="closeModal.emit()"
        >
          Cancel
        </button>
        <button
          type="submit"
          class="px-6 py-2 text-white bg-blue-600 rounded-lg hover:bg-blue-800 w-full"
          [disabled]="loading"
        >
          {{ loading ? "Updating..." : "Update Student" }}
        </button>
      </div>
    </form>
  </div>
</div>
